.header {
  border: 1px sloid grey;
  background: #f2fbff;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  cursor: default;
}

.logo {
  height: 15vmin;
  pointer-events: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  animation: spining_logo 10s infinite;
}

@keyframes spining_logo {
  50% {
    transform: rotate(360deg);
  }
}

.description {
  text-align: center;
}

.header h1 {
  font-style: italic;
  letter-spacing: 3px;
}
